body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
}

.spaceBar {
    height: 200px;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
}

#align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 150px;
}

#inContent {
    font-size: 90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#phrase {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

#bottomContent{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 40px;
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold; 
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.campos{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

#titleBem {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#spaceField {
    margin-top: 20px;
}

.textBox {
    height: 20px;
    width: 230px;
    border: 2px solid black;
}

#buttonAjust {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.button {
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 20px;
    background-color: #2a3f29;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-3px);
}

#button2 {
    margin-left: 20px;
}

#login {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 90px;
    transition: 0.3s ease;
}

#login:hover {
    transform: translateY(-2px);
}

a {
    color: black;
}

a:hover {
    color: blue;
}

/*------------------------------------ Cria Grupo.css ------------------------------------*/

.mainContainerCria {
    justify-content: center;
    align-items: center;
    display: flex;
}

#criaContainer {
    margin-top: 120px;
    margin-left: 120px;
}

.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-left: 50px;
}

.criaContent {
    margin-top: 100px;
    margin-left: 120px;
}

#linha1, #linha2, #linha3 {
    display: flex;
}

#campoCria1, #campoCria2 {
    margin-right: 150px;
}

#campoCria4, #campoCria5 {
    margin-top: 150px;
    margin-right: 150px;
}

#selectPhoto {
    margin-top: 140px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

.circle {
    cursor: pointer;
    margin-top: 5px;
    margin-left: 80px;
    width: 50px;
    height: 50px;
    border: 2px solid black; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.butAjustCria {
    margin-top: 100px;
    margin-left: 1000px;
    margin-right: 50px;
    margin-bottom: 30px;
}

/*------------------------------------ Inicio.css ------------------------------------*/

.mainContainerInicio {
    display: flex;
    justify-content: center;
}

#inicioContainerLeft {
    width: 250px;
    margin-top: 80px;
    margin-left: 60px;
    margin-bottom: 80px;
}

#buttonSmall {
    margin-top: 15px;
    width: 250px;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#logoContainer {
    height: 140px;
    width: 140px;
    margin: 0px;
    cursor: auto;
}

.seuAmigo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.participante {
    height: 40px;
    width: 250px;
    margin-top: 10px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease;
}

.participante:hover {
    transform: translateY(-3px);
}

.pin {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.qrContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#qrCode {
    border-radius: 5px;
    border: 2px solid black;
    height: 150px;
}

#buttonSmallComp {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 250px;
}

#inicioContainerMiddle {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 60px;
}

#iniTitle {
    margin-top: 80px;
    margin-left: 70px;
}

.inicioContent {
    margin-top: 100px;
    margin-left: 90px;
}

#descricao {
    font-size: 17px;
}

.descText {
    margin-top: 10px;
    margin-right: 70px;
    font-weight: lighter;
}

#partiTitle {
    margin-top: 100px;
    font-size: 17px;
}

.partiButton {
    height: 40px;
    width: 240px;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease;
}

.partiButton:hover {
    transform: translateY(-3px);
}

/*------------------------------------ Config.css ------------------------------------*/

.configContent {
    margin-top: 90px;
    margin-left: 120px;
}

#linhaConfig1, #linhaConfig2, #linhaConfig3 {
    display: flex;
    margin-left: 90px;
}

#campoConfig4, #campoConfig5 {
    margin-top: 100px;
    margin-right: 150px;
}

#selectPhotoConfig {
    margin-top: 90px;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}

#campoConfig6, #campoConfig7 {
    margin-top: 80px;
    margin-right: 148px;
}

#delButton {
    width: 120px;
    font-weight: bold;
    background-color: #9c1e1e;
    margin-right: 1030px;
}

.butAjustConfig {
    display: flex;
    margin-top: 130px;
    margin-right: 50px;
}

/*------------------------------------ ConfigUser.css ------------------------------------*/

.configUserContent {
    display: flex;
    justify-content: center;
}

#linhaConfigUser {
    margin-top: 100px;
    width: 240px;
}

.butAjustConfigUser {
    display: flex;
    margin-top: 210px;
    margin-right: 50px;
    margin-left: 1270px;
}

/*------------------------------------ Lista.css ------------------------------------*/

.listaContent {
    margin-top: 70px;
    margin-left: 100px;
    height: 400px;
}

#listaTitle {
    margin-top: 50px;
    font-size: 17px;
}

.listaButton {
    height: 40px;
    width: 240px;
    margin-top: 20px;
    margin-right: 10px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: 0.2s ease;
}

.listaButton:hover {
    transform: translateY(-3px);
}

.butAjustLista {
    display: flex;
    margin-top: 90px;
    margin-right: 50px;
    margin-left: 1270px;
}