body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0px;
}

.spaceBar {
    height: 200px;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
}

#align{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 150px;
}

#inContent {
    font-size: 90px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#phrase {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

#bottomContent{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 40px;
}

.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold; 
    margin: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.campos{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

#titleBem {
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#spaceField {
    margin-top: 20px;
}

.textBox {
    height: 20px;
    width: 230px;
    border: 2px solid black;
}

#buttonAjust {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.button {
    height: 40px;
    width: 100px;
    color: white;
    font-weight: bold;
    border: 0px;
    border-radius: 20px;
    background-color: #2a3f29;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.button:hover {
    cursor: pointer;
    background-color: #496447;
}

#button2 {
    margin-left: 20px;
}

#login {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 90px;
}

a {
    color: black;
}

/*--------- Cria Grupo.css ---------*/

#criaTitle {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30px;
    margin-left: 100px;
}

.criaContent {
    margin: 100px;
}

#linha1, #linha2 {
    display: flex;
}

#campoCria1, #campoCria2, #campoCria3 {
    margin-right: 250px;
}

#campoCria4, #campoCria5 {
    margin-top: 150px;
    margin-right: 250px;
}

#selectPhoto {
    margin-top: 120px;
    justify-content: center;
    align-items: center;
}

.circle {
    margin-top: 5px;
    margin-left: 80px;
    width: 50px; /* Largura do círculo */
    height: 50px; /* Altura do círculo */
    border: 2px solid black; /* Borda de 2px preta */
    border-radius: 50%; /* Borda para fazer o elemento ser um círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; /* Tamanho do sinal de "+" */
}